<article class="post">
  <div class="post-bin">
    <%- page.content %>
  </div>
  <header class="post-author clearfix">
    <div class="avatar avatar-default pull-left">
      <img src="<%- gravatar(page.author_email, 160) %>" alt="<%= page.author %>" class="post-gravatar">
    </div>
    <a class="post-author-name" href="https://github.com/<%= page.author_github %>"><%= page.author %></a>
  </header>
  <div class="post-description">
    <%- markdown(page.description) %>
  </div>
  <div class="post-actions">
    <% if (index) { %>
      <a href="<%= url_for(page.path) %>" class="link">Discuss</a>
    <% } %>
  </div>
  <div class="post-disqus">
    <% if (!index) { %>
      <div id="disqus_thread"></div>
    <% } %>
  </div>
</article>