<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <% description = "" %>
  <% if (is_home()) { description = config.description  } %>
  <% if (is_post()) { description = page.description    } %>
  <script type="text/javascript">
  var addthis_share = {
     title: "<%= config.title %><% if (description) { %> | <%=description%><% } %>" 
  }
  </script>
  <title><%= config.title %></title>
  <meta name="description" content="<%= description %>">
  <meta property="og:title" content="<%= config.title %> | <%= description %>" /> 
  <meta property="og:description" content="<%= description %>" /> 
  <link rel="icon" href="favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/> 
  <%- css('less/index') %>
</head>
<body>
  <%- partial('_partial/header')  %>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <%- body %>
      </div>
    </div>
  </div>
  <%- partial('_partial/footer') %>
  <%- partial('_partial/common-scripts') %>
</body>
</html>