<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= config.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <%- css('less/index') %>
</head>
<body>
  <%- partial('_partial/header')  %>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <%- body %>
      </div>
    </div>
  </div>
  <%- partial('_partial/footer') %>
  <%- partial('_partial/common-scripts') %>
</body>
</html>